/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform/.terraformrc
/terraform/.terraform.tfstate.lock.info

# Ansible
/ansible/.ansible
/ansible/ansible.cfg